REISADataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "REISADataFactory"
		},
		"ctgazuredatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ctgazuredatabase'"
		},
		"keyvouldadministrador_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://Administrador.vault.azure.net/"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "ctgexposedb.database.windows.net"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "reinaldobarros"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/0-iniciarssis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IniciarSSIS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/start?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Start my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1-apagardados')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "apagardados",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/ExcluirDados.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"packageParameters": {
								"Sites_ConnectionString": {
									"value": "Service Document Url=\"https://cweibr011.sharepoint.com/sites/pwa/Management IT Tool/_vti_bin/listdata.svc\";Include Atom Elements=Auto;Include Expanded Entities=False;Integrated Security=False;Cookie=\"SPOIDCRL=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U1A+VjMsMGguZnxtZW1iZXJzaGlwfDEwMDMwMDAwYTE5ZWEwY2JAbGl2ZS5jb20sMCMuZnxtZW1iZXJzaGlwfHJlaW5hbGRvLmJhcnJvcy1leHRAY3RnYnIuY29tLmJyLDEzMTQ4MDYxNzg2MDAwMDAwMCwxMzE0Njg2NjUyMTAwMDAwMDAsMTMxNDg0OTM3ODcxMzk0OTA0LDAuMC4wLjAsNCxmMjE4NDhmMi02ODkzLTRmYTgtYjk2Yi1iMjNmYjNlYzg0ZWUsLCwzZDcwMTI5ZS03MDM0LTQwMDAtNzU3ZC0wNjYxYWU3Y2FlNTEsM2Q3MDEyOWUtNzAzNC00MDAwLTc1N2QtMDY2MWFlN2NhZTUxLCwwLGg5ZkJ4ZjZDNlF2cC9HbG16OUlQZWhKTFdTUkMwLzFPd1l5V2VBai93UVNkY1BnaGl3MFhzSlUyR0Zka01xREtJamFSWkkyRHEyUVZ4VkpOMGtDZTBrSEhJUy9QbFN3dUduRzduY1M1UFp5b3NrRmkyMGZqWWRMUkFielJCQ1A2K3hPZ1ZkcEJJMnpZdXY5NVM0UmhHd2Fkb2pJZjByeUV3RXRGOHFncFgvcGE3NHNHRTV1S0htSm1qSFRrZjZGb0Y4bmZUUFR4VVlqOGNxeVN4RnhaUDVuZW50dVlnT01QRyt2NTlOY0lGWUIwZlFCTzhjVzVwakoxM1R4UjBaMjk4bUdFWUFlTEJVZkRSbloxWitqN0wyMXRpZkV6eGFEUVFLeDF0UEtYckxXYnlFUkl0NkYzYW5HUXJEdHlpLzRIaE9ZcUlsQllXbmhMYUUvN0NzZlJzQT09PC9TUD4=\";User ID=reinaldo.barros-ext@ctgbr.com.br;Password=R#Einaldo2019;Persist Security Info=False;Time Out=600;Schema Sample Size=25;Retry Count=5;Retry Sleep=100;Keep Alive=False;Max Received Message Size=4398046511104"
								}
							},
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2-carregarfinanceiro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "carregarfinanceiro",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/Financeiro.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3-carregartarefassites')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "carregartarefassites",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/TarefasSites.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"packageParameters": {
								"Sites_ConnectionString": {
									"value": "Service Document Url=\"https://cweibr011.sharepoint.com/sites/pwa/Management IT Tool/_vti_bin/listdata.svc\";Include Atom Elements=Auto;Include Expanded Entities=False;Integrated Security=False;Cookie=\"SPOIDCRL=77u/PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48U1A+VjMsMGguZnxtZW1iZXJzaGlwfDEwMDMwMDAwYTE5ZWEwY2JAbGl2ZS5jb20sMCMuZnxtZW1iZXJzaGlwfHJlaW5hbGRvLmJhcnJvcy1leHRAY3RnYnIuY29tLmJyLDEzMTQ4MDYxNzg2MDAwMDAwMCwxMzE0Njg2NjUyMTAwMDAwMDAsMTMxNDg0OTM3ODcxMzk0OTA0LDAuMC4wLjAsNCxmMjE4NDhmMi02ODkzLTRmYTgtYjk2Yi1iMjNmYjNlYzg0ZWUsLCwzZDcwMTI5ZS03MDM0LTQwMDAtNzU3ZC0wNjYxYWU3Y2FlNTEsM2Q3MDEyOWUtNzAzNC00MDAwLTc1N2QtMDY2MWFlN2NhZTUxLCwwLGg5ZkJ4ZjZDNlF2cC9HbG16OUlQZWhKTFdTUkMwLzFPd1l5V2VBai93UVNkY1BnaGl3MFhzSlUyR0Zka01xREtJamFSWkkyRHEyUVZ4VkpOMGtDZTBrSEhJUy9QbFN3dUduRzduY1M1UFp5b3NrRmkyMGZqWWRMUkFielJCQ1A2K3hPZ1ZkcEJJMnpZdXY5NVM0UmhHd2Fkb2pJZjByeUV3RXRGOHFncFgvcGE3NHNHRTV1S0htSm1qSFRrZjZGb0Y4bmZUUFR4VVlqOGNxeVN4RnhaUDVuZW50dVlnT01QRyt2NTlOY0lGWUIwZlFCTzhjVzVwakoxM1R4UjBaMjk4bUdFWUFlTEJVZkRSbloxWitqN0wyMXRpZkV6eGFEUVFLeDF0UEtYckxXYnlFUkl0NkYzYW5HUXJEdHlpLzRIaE9ZcUlsQllXbmhMYUUvN0NzZlJzQT09PC9TUD4=\";User ID=reinaldo.barros-ext@ctgbr.com.br;Password=R#Einaldo2019;Persist Security Info=False;Time Out=600;Schema Sample Size=25;Retry Count=5;Retry Sleep=100;Keep Alive=False;Max Received Message Size=4398046511104"
								}
							},
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {
								"sites-package": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/4-pararSSIS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PararSSIS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgcarregarprojectonline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "apagardados",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "iniciarssis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/ExcluirDados.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregarfinanceiro",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "apagardados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/Financeiro.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregartarefassites",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "carregarfinanceiro",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/TarefasSites.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {
								"sites-package": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					},
					{
						"name": "iniciarssis",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/start?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Start my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "pararssis",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "carregartarefassites",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgazuredatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ctgazuredatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keyvouldadministrador')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('keyvouldadministrador_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgcarregarprojectonline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-04-10T03:30:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								3
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/reisassis')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "SSIS para demandas da REISA.",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D4_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 1,
						"vNetProperties": {
							"vNetId": "/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourceGroups/REISA/providers/Microsoft.Network/virtualNetworks/REISAvnet993",
							"subnet": "default"
						}
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		}
	]
}