REISADataFactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "REISADataFactory"
		},
		"ctgazuredatabase_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ctgazuredatabase'"
		},
		"keyvouldadministrador_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://Administrador.vault.azure.net/"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint": {
			"type": "string",
			"defaultValue": "ctgexposedb.database.windows.net"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName": {
			"type": "string",
			"defaultValue": "reinaldobarros"
		},
		"reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword": {
			"type": "secureString"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/carregarfinanceiro')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "carregarfinanceiro",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/Financeiro.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "pararssis",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "carregarfinanceiro",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgcarregarprojectonline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "apagardados",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "iniciarssis",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/ExcluirDados.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregarfinanceiro",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "apagardados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/Financeiro.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregartarefassites",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "carregarfinanceiro",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/TarefasSites.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"(SQL) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"(ado.net) CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"CTG_PROJECTONLINE_SCRIPT": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Einaldo2017"
										}
									}
								},
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								}
							},
							"packageConnectionManagers": {
								"sites-package": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "R#Eina2019"
										}
									}
								}
							}
						}
					},
					{
						"name": "iniciarssis",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/start?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Start my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "pararssis",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "carregartarefassites",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgdwprojetosped')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "projetos",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "projetos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"projetos": {},
									"myprojects": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/projetos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgprojectonlineseminiciarssis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "apagardados",
						"type": "ExecuteSSISPackage",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/ExcluirDados.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregarfinanceiro",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "carregartarefassites",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/Financeiro.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {}
						}
					},
					{
						"name": "carregartarefassites",
						"type": "ExecuteSSISPackage",
						"dependsOn": [
							{
								"activity": "apagardados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"packageLocation": {
								"packagePath": "ctg/carregar-project-online/TarefasSites.dtsx",
								"type": "SSISDB"
							},
							"environmentPath": null,
							"connectVia": {
								"referenceName": "reisassis",
								"type": "IntegrationRuntimeReference"
							},
							"loggingLevel": "Basic",
							"projectConnectionManagers": {
								"Lists": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								},
								"Projects": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							},
							"packageConnectionManagers": {
								"sites-package": {
									"Password": {
										"value": {
											"type": "SecureString",
											"value": "**********"
										}
									}
								}
							}
						}
					},
					{
						"name": "pararssis",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "carregarfinanceiro",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/reisassis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/iniciarssis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IniciarSSIS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/start?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Start my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pararSSIS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PararSSIS",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourcegroups/reisa/providers/Microsoft.DataFactory/factories/reisadatafactory/integrationruntimes/reisassis/stop?api-version=2018-06-01",
							"method": "POST",
							"headers": {},
							"body": {
								"message": "Stop my IR"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgexposedb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ctgazuredatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ProjectId",
						"type": "uniqueidentifier"
					},
					{
						"name": "EnterpriseProjectTypeDescription",
						"type": "nvarchar"
					},
					{
						"name": "EnterpriseProjectTypeId",
						"type": "uniqueidentifier"
					},
					{
						"name": "EnterpriseProjectTypeIsDefault",
						"type": "bit"
					},
					{
						"name": "EnterpriseProjectTypeName",
						"type": "nvarchar"
					},
					{
						"name": "OptimizerCommitDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "OptimizerDecisionAliasLookupTableId",
						"type": "uniqueidentifier"
					},
					{
						"name": "OptimizerDecisionAliasLookupTableValueId",
						"type": "uniqueidentifier"
					},
					{
						"name": "OptimizerDecisionID",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "OptimizerDecisionName",
						"type": "nvarchar"
					},
					{
						"name": "OptimizerSolutionName",
						"type": "nvarchar"
					},
					{
						"name": "ParentProjectId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PlannerCommitDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "PlannerDecisionAliasLookupTableId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PlannerDecisionAliasLookupTableValueId",
						"type": "uniqueidentifier"
					},
					{
						"name": "PlannerDecisionID",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "PlannerDecisionName",
						"type": "nvarchar"
					},
					{
						"name": "PlannerEndDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "PlannerSolutionName",
						"type": "nvarchar"
					},
					{
						"name": "PlannerStartDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectActualCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualDuration",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualFinishDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectActualOvertimeCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualOvertimeWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualRegularCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualRegularWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectActualStartDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectActualWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectACWP",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectAuthorName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectBCWP",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectBCWS",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectBudgetCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectBudgetWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectCalculationsAreStale",
						"type": "bit"
					},
					{
						"name": "ProjectCalendarDuration",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProjectCategoryName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCompanyName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectCostVariance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectCPI",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectCreatedDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectCurrency",
						"type": "nvarchar"
					},
					{
						"name": "ProjectCV",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectCVP",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectDescription",
						"type": "nvarchar"
					},
					{
						"name": "ProjectDuration",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectDurationVariance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectEAC",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectEarlyFinish",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectEarlyStart",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectEarnedValueIsStale",
						"type": "bit"
					},
					{
						"name": "ProjectEnterpriseFeatures",
						"type": "bit"
					},
					{
						"name": "ProjectFinishDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectFinishVariance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectFixedCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectIdentifier",
						"type": "nvarchar"
					},
					{
						"name": "ProjectKeywords",
						"type": "nvarchar"
					},
					{
						"name": "ProjectLateFinish",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectLateStart",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectLastPublishedDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectManagerName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectModifiedDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectOvertimeCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectOvertimeWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectOwnerId",
						"type": "uniqueidentifier"
					},
					{
						"name": "ProjectOwnerName",
						"type": "nvarchar"
					},
					{
						"name": "ProjectPercentCompleted",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ProjectPercentWorkCompleted",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ProjectRegularCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRegularWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingDuration",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingOvertimeCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingOvertimeWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingRegularCost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingRegularWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectRemainingWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectResourcePlanWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectSPI",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectStartDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectStartVariance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectStatusDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ProjectSubject",
						"type": "nvarchar"
					},
					{
						"name": "ProjectSV",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectSVP",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectTCPI",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectTitle",
						"type": "nvarchar"
					},
					{
						"name": "ProjectType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ProjectVAC",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectWork",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ProjectWorkspaceInternalUrl",
						"type": "nvarchar"
					},
					{
						"name": "ProjectWorkVariance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "ResourcePlanUtilizationDate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ResourcePlanUtilizationType",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "ProjectDepartments",
						"type": "nvarchar"
					},
					{
						"name": "Estimatedcost",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "Segment",
						"type": "nvarchar"
					},
					{
						"name": "Innovationphasechain",
						"type": "nvarchar"
					},
					{
						"name": "Keywords",
						"type": "nvarchar"
					},
					{
						"name": "Originalitydescription",
						"type": "nvarchar"
					},
					{
						"name": "Applicability",
						"type": "nvarchar"
					},
					{
						"name": "Relevance",
						"type": "nvarchar"
					},
					{
						"name": "Technologicalcapabilities",
						"type": "nvarchar"
					},
					{
						"name": "Socialandenvironmentalimpacts",
						"type": "nvarchar"
					},
					{
						"name": "Economicimpacts",
						"type": "nvarchar"
					},
					{
						"name": "Objective",
						"type": "nvarchar"
					},
					{
						"name": "Rationaleforexecution",
						"type": "nvarchar"
					},
					{
						"name": "Scope",
						"type": "nvarchar"
					},
					{
						"name": "Methodology",
						"type": "nvarchar"
					},
					{
						"name": "Technologicaltransfer",
						"type": "nvarchar"
					},
					{
						"name": "EconomicBenefits",
						"type": "nvarchar"
					},
					{
						"name": "Projectphaseandstage",
						"type": "nvarchar"
					},
					{
						"name": "Tolerance",
						"type": "nvarchar"
					},
					{
						"name": "Projectestimatedpercentage",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "Projectyear",
						"type": "nvarchar"
					},
					{
						"name": "workingp_finaltolerance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "workingp_initialtolerance",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "workingp_templb",
						"type": "nvarchar"
					},
					{
						"name": "Costcentre",
						"type": "nvarchar"
					},
					{
						"name": "Statusofproject",
						"type": "nvarchar"
					},
					{
						"name": "Projecttimestatus",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					},
					{
						"name": "Projectstatus",
						"type": "nvarchar"
					},
					{
						"name": "Researchtheme",
						"type": "nvarchar"
					},
					{
						"name": "Otherthemedescription",
						"type": "nvarchar"
					},
					{
						"name": "Researchsubtheme",
						"type": "nvarchar"
					},
					{
						"name": "Othersubthemedescription",
						"type": "nvarchar"
					},
					{
						"name": "Mainproducttype",
						"type": "nvarchar"
					},
					{
						"name": "Sharingtype",
						"type": "nvarchar"
					},
					{
						"name": "Productdescription",
						"type": "nvarchar"
					},
					{
						"name": "Motivation",
						"type": "nvarchar"
					},
					{
						"name": "Relatedsearch",
						"type": "nvarchar"
					},
					{
						"name": "Economicviability",
						"type": "nvarchar"
					},
					{
						"name": "ODSopendate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "ODSclosedate",
						"type": "smalldatetime",
						"precision": 16,
						"scale": 0
					},
					{
						"name": "Productachieved",
						"type": "bit"
					},
					{
						"name": "Justificationfornotachieved",
						"type": "nvarchar"
					},
					{
						"name": "Producttechnicalspecification",
						"type": "nvarchar"
					},
					{
						"name": "Plannedtechniqueimplemented",
						"type": "bit"
					},
					{
						"name": "Justificationfornonimplementation",
						"type": "nvarchar"
					},
					{
						"name": "Briefdescriptionofthetechniqueused",
						"type": "nvarchar"
					},
					{
						"name": "Rationalefornonapplicability",
						"type": "nvarchar"
					},
					{
						"name": "Briefdescriptionoftestresults",
						"type": "nvarchar"
					},
					{
						"name": "Scopeapplicationdescription",
						"type": "nvarchar"
					},
					{
						"name": "Resultscopedescription",
						"type": "nvarchar"
					},
					{
						"name": "Briefdescriptionofactivities",
						"type": "nvarchar"
					},
					{
						"name": "Expectedapplicabilityachieved",
						"type": "bit"
					},
					{
						"name": "ProjectcodeAneel",
						"type": "nvarchar"
					},
					{
						"name": "Originality",
						"type": "nvarchar"
					},
					{
						"name": "Program",
						"type": "nvarchar"
					},
					{
						"name": "Organizationalstructure",
						"type": "nvarchar"
					},
					{
						"name": "ProjManager",
						"type": "nvarchar"
					},
					{
						"name": "Projectcompanies",
						"type": "nvarchar"
					},
					{
						"name": "Projectphase",
						"type": "nvarchar"
					},
					{
						"name": "ANEELrecognizedcostofício",
						"type": "decimal",
						"precision": 38,
						"scale": 4
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Projects]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ctgazuredatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/myprojects')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ctgazuredatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "dbo.myprojects"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ctgazuredatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgazuredatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ctgazuredatabase_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keyvouldadministrador')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('keyvouldadministrador_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ctgcarregarprojectonline')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2019-04-10T03:30:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								3
							],
							"weekDays": [
								"Monday",
								"Tuesday",
								"Wednesday",
								"Thursday",
								"Friday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/reisassis')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "SSIS para demandas da REISA.",
				"typeProperties": {
					"computeProperties": {
						"location": "East US 2",
						"nodeSize": "Standard_D4_v3",
						"numberOfNodes": 1,
						"maxParallelExecutionsPerNode": 1,
						"vNetProperties": {
							"vNetId": "/subscriptions/a7fe509b-4b25-4f88-bba6-2ddf8a78461d/resourceGroups/REISA/providers/Microsoft.Network/virtualNetworks/REISAvnet993",
							"subnet": "default"
						}
					},
					"ssisProperties": {
						"catalogInfo": {
							"catalogServerEndpoint": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogServerEndpoint')]",
							"catalogAdminUserName": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminUserName')]",
							"catalogAdminPassword": {
								"type": "SecureString",
								"value": "[parameters('reisassis_properties_typeProperties_ssisProperties_catalogInfo_catalogAdminPassword')]"
							},
							"catalogPricingTier": "S1"
						},
						"edition": "Standard",
						"licenseType": "LicenseIncluded"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/projetos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ctgexposedb",
								"type": "DatasetReference"
							},
							"name": "projetos",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "myprojects",
								"type": "DatasetReference"
							},
							"name": "myprojects"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "\n\nsource(output(\n\t\tProjectId as string,\n\t\tEnterpriseProjectTypeDescription as string,\n\t\tEnterpriseProjectTypeId as string,\n\t\tEnterpriseProjectTypeIsDefault as boolean,\n\t\tEnterpriseProjectTypeName as string,\n\t\tOptimizerCommitDate as timestamp,\n\t\tOptimizerDecisionAliasLookupTableId as string,\n\t\tOptimizerDecisionAliasLookupTableValueId as string,\n\t\tOptimizerDecisionID as integer,\n\t\tOptimizerDecisionName as string,\n\t\tOptimizerSolutionName as string,\n\t\tParentProjectId as string,\n\t\tPlannerCommitDate as timestamp,\n\t\tPlannerDecisionAliasLookupTableId as string,\n\t\tPlannerDecisionAliasLookupTableValueId as string,\n\t\tPlannerDecisionID as integer,\n\t\tPlannerDecisionName as string,\n\t\tPlannerEndDate as timestamp,\n\t\tPlannerSolutionName as string,\n\t\tPlannerStartDate as timestamp,\n\t\tProjectActualCost as decimal(38,4),\n\t\tProjectActualDuration as decimal(38,4),\n\t\tProjectActualFinishDate as timestamp,\n\t\tProjectActualOvertimeCost as decimal(38,4),\n\t\tProjectActualOvertimeWork as decimal(38,4),\n\t\tProjectActualRegularCost as decimal(38,4),\n\t\tProjectActualRegularWork as decimal(38,4),\n\t\tProjectActualStartDate as timestamp,\n\t\tProjectActualWork as decimal(38,4),\n\t\tProjectACWP as decimal(38,4),\n\t\tProjectAuthorName as string,\n\t\tProjectBCWP as decimal(38,4),\n\t\tProjectBCWS as decimal(38,4),\n\t\tProjectBudgetCost as decimal(38,4),\n\t\tProjectBudgetWork as decimal(38,4),\n\t\tProjectCalculationsAreStale as boolean,\n\t\tProjectCalendarDuration as integer,\n\t\tProjectCategoryName as string,\n\t\tProjectCompanyName as string,\n\t\tProjectCost as decimal(38,4),\n\t\tProjectCostVariance as decimal(38,4),\n\t\tProjectCPI as decimal(38,4),\n\t\tProjectCreatedDate as timestamp,\n\t\tProjectCurrency as string,\n\t\tProjectCV as decimal(38,4),\n\t\tProjectCVP as decimal(38,4),\n\t\tProjectDescription as string,\n\t\tProjectDuration as decimal(38,4),\n\t\tProjectDurationVariance as decimal(38,4),\n\t\tProjectEAC as decimal(38,4),\n\t\tProjectEarlyFinish as timestamp,\n\t\tProjectEarlyStart as timestamp,\n\t\tProjectEarnedValueIsStale as boolean,\n\t\tProjectEnterpriseFeatures as boolean,\n\t\tProjectFinishDate as timestamp,\n\t\tProjectFinishVariance as decimal(38,4),\n\t\tProjectFixedCost as decimal(38,4),\n\t\tProjectIdentifier as string,\n\t\tProjectKeywords as string,\n\t\tProjectLateFinish as timestamp,\n\t\tProjectLateStart as timestamp,\n\t\tProjectLastPublishedDate as timestamp,\n\t\tProjectManagerName as string,\n\t\tProjectModifiedDate as timestamp,\n\t\tProjectName as string,\n\t\tProjectOvertimeCost as decimal(38,4),\n\t\tProjectOvertimeWork as decimal(38,4),\n\t\tProjectOwnerId as string,\n\t\tProjectOwnerName as string,\n\t\tProjectPercentCompleted as integer,\n\t\tProjectPercentWorkCompleted as integer,\n\t\tProjectRegularCost as decimal(38,4),\n\t\tProjectRegularWork as decimal(38,4),\n\t\tProjectRemainingCost as decimal(38,4),\n\t\tProjectRemainingDuration as decimal(38,4),\n\t\tProjectRemainingOvertimeCost as decimal(38,4),\n\t\tProjectRemainingOvertimeWork as decimal(38,4),\n\t\tProjectRemainingRegularCost as decimal(38,4),\n\t\tProjectRemainingRegularWork as decimal(38,4),\n\t\tProjectRemainingWork as decimal(38,4),\n\t\tProjectResourcePlanWork as decimal(38,4),\n\t\tProjectSPI as decimal(38,4),\n\t\tProjectStartDate as timestamp,\n\t\tProjectStartVariance as decimal(38,4),\n\t\tProjectStatusDate as timestamp,\n\t\tProjectSubject as string,\n\t\tProjectSV as decimal(38,4),\n\t\tProjectSVP as decimal(38,4),\n\t\tProjectTCPI as decimal(38,4),\n\t\tProjectTitle as string,\n\t\tProjectType as integer,\n\t\tProjectVAC as decimal(38,4),\n\t\tProjectWork as decimal(38,4),\n\t\tProjectWorkspaceInternalUrl as string,\n\t\tProjectWorkVariance as decimal(38,4),\n\t\tResourcePlanUtilizationDate as timestamp,\n\t\tResourcePlanUtilizationType as integer,\n\t\tProjectDepartments as string,\n\t\tEstimatedcost as decimal(38,4),\n\t\tSegment as string,\n\t\tInnovationphasechain as string,\n\t\tKeywords as string,\n\t\tOriginalitydescription as string,\n\t\tApplicability as string,\n\t\tRelevance as string,\n\t\tTechnologicalcapabilities as string,\n\t\tSocialandenvironmentalimpacts as string,\n\t\tEconomicimpacts as string,\n\t\tObjective as string,\n\t\tRationaleforexecution as string,\n\t\tScope as string,\n\t\tMethodology as string,\n\t\tTechnologicaltransfer as string,\n\t\tEconomicBenefits as string,\n\t\tProjectphaseandstage as string,\n\t\tTolerance as string,\n\t\tProjectestimatedpercentage as decimal(38,4),\n\t\tProjectyear as string,\n\t\tworkingp_finaltolerance as decimal(38,4),\n\t\tworkingp_initialtolerance as decimal(38,4),\n\t\tworkingp_templb as string,\n\t\tCostcentre as string,\n\t\tStatusofproject as string,\n\t\tProjecttimestatus as decimal(38,4),\n\t\tProjectstatus as string,\n\t\tResearchtheme as string,\n\t\tOtherthemedescription as string,\n\t\tResearchsubtheme as string,\n\t\tOthersubthemedescription as string,\n\t\tMainproducttype as string,\n\t\tSharingtype as string,\n\t\tProductdescription as string,\n\t\tMotivation as string,\n\t\tRelatedsearch as string,\n\t\tEconomicviability as string,\n\t\tODSopendate as timestamp,\n\t\tODSclosedate as timestamp,\n\t\tProductachieved as boolean,\n\t\tJustificationfornotachieved as string,\n\t\tProducttechnicalspecification as string,\n\t\tPlannedtechniqueimplemented as boolean,\n\t\tJustificationfornonimplementation as string,\n\t\tBriefdescriptionofthetechniqueused as string,\n\t\tRationalefornonapplicability as string,\n\t\tBriefdescriptionoftestresults as string,\n\t\tScopeapplicationdescription as string,\n\t\tResultscopedescription as string,\n\t\tBriefdescriptionofactivities as string,\n\t\tExpectedapplicabilityachieved as boolean,\n\t\tProjectcodeAneel as string,\n\t\tOriginality as string,\n\t\tProgram as string,\n\t\tOrganizationalstructure as string,\n\t\tProjManager as string,\n\t\tProjectcompanies as string,\n\t\tProjectphase as string,\n\t\tANEELrecognizedcostof as decimal(38,4)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> projetos\nprojetos derive(gerentedoprojeto = ProjectOwnerName) ~> DerivedColumn1\nDerivedColumn1 sink(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table') ~> myprojects"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ctgexposedb')]",
				"[concat(variables('factoryId'), '/datasets/myprojects')]"
			]
		}
	]
}